@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import "react-datepicker/dist/react-datepicker.css";

.homes-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.header-container {
padding-top: 70px;
align-items: flex-start;
display: flex;
flex-direction: column;
gap: 15px;


@media(max-width: 767px) {
    padding-top: 30px;
} 
}


.names-rating-section {
display: flex;
flex-direction: column;
height: 8.5vh;
width: 100%;

h1 {
    margin: 0;
   padding: 0;

   @media(max-width:767px) {
    font-size: 1.3rem;
    

   }

}

p {
    @media(max-width: 767px) {
        font-size: 0.8rem;
        width: max-content;
    }
}

}

.home-title {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 0px;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    

    @media(max-width:767px) {
   align-items: center;
   justify-content: center;
  
   }
}

.home-sub {
display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 0px;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    

    @media(max-width: 767px) {
        justify-content: center;
        font-size: 0.9rem;
       

    }

    p {
        
    }

    .star {
       
        width: max-content;
       margin: 0;
       padding-left: 5px;
       padding-right: 5px;
       color: #FE5257;
       
      
    }
    }




.names-rating-section > * {
margin: -2px;

}

@media(max-width: 767px) {
    .names-rating-section {
      padding: 10px 0;
    }
}





.picture-section {
display: flex;
justify-content: flex-start;
width: 100%;

@media(max-width: 767px) {
    justify-content: center;
   
}
}

.picture-section img {

    height: 300px;
    width: 300px;
    border: 2px white solid;
    border-radius: 10px;
   


  @media(max-width:767px) {
    height: 120px;
    width: 120px;
    flex-wrap: wrap;

   
  }
   
}





@media(max-width: 767px) {
    .picture-section img {
        height: 120px;
        width: 120px;
        flex-wrap: wrap;
        transition: transform 0.3s;
    }

   
}



.footer-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 50px;
    padding-top: 10px;
 
    @media(max-width: 767px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 120px;
        padding-top: 10px;

    }
   
}

.span {
    font-size: 20px;
    color: #252525;
}



.info-section {
    justify-content: flex start;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 50%;
    position: relative;
    top: 60px;
    padding: 1.5rem 2rem;
    border-top: solid 2px black;
    border-bottom: solid 2px black;

    

    h1 {
        margin: 10px;
        font-size: 1.5rem;
        text-align: center;
        font-family: 'Poppins', sans-serif;

         @media(max-width: 767px) {
        font-size: 1.2rem;
    }
    }

    p {
        margin: 3px;
        font-size: 0.8rem;
        text-align: center;

        @media(max-width: 767px) {
        font-size: 0.8rem;
        width: max-content;
    }
    }
    

    
}

.price-container {
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.09);
    align-items: center;
    border: 1px rgb(214, 214, 214) solid;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 100px;

    @media(max-width: 767px) { 
       width: 300px;
       height: 400px;


    }


    h1 {
        text-align: center;
        font-family: 'Poppins', sans-serif;
        width: 100%;
        letter-spacing: 2px;
        font-size: 2rem;
       padding: 0;
       margin: 0;
    }

    h4 {
        text-align: center;
        font-family: 'Poppins', sans-serif;
        width: 100%;
        font-size: 1rem;
        margin-top: 5px;
        padding: 0;
        margin: 0;
    }
}

.total-price {
    color:#FE5257;
}


label {
    width: max-content;
   text-align: center;
}

.picker {
    background-color: #e9e9e9;
  border: none;
  height: 50px;
  width: 200px;
  border-radius: 20px;
   text-align: center;
   font-family: 'Poppins', sans-serif;
   
}

.booking {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
    bottom: 70px;
    justify-content: space-between;
    
}

.home-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem 1rem; 
    width: 60%;

    @media(max-width: 767px) {
        width: auto;
        padding: 1rem 0;
    }

    
    h1 {
        font-size: 1.7rem;
        font-family: 'Poppins', sans-serif;
       width: max-content;
    }

    p {
       
        line-height: 20px;
        width: 85%;
        
    }
}


.react-datepicker {
    width: auto;
    float: none;
    
}

.react-datepicker__day--selected {
    background-color: #FE5257;

    &:hover {
        background-color: #fa9598;
    }

}

input.picker.react-datepicker-ignore-onclickoutside {

}

.react-datepicker__day {
    
    &:hover {
        background-color: #fa9598;
    }
}

.react-datepicker__day--in-range {
    background-color: #FE5257;

    & :hover {
        background-color: #fa9598;

    }
}



.react-datepicker__day--selecting-range-start {
    background-color: #FE5257;
}

.react-datepicker__day--selecting-range-end {
    background-color: #FE5257;
}

.react-datepicker__day--keyboard-selected {
    background-color: #fa9598;
}


.react-datepicker__day--in-selecting-range {
    background-color: #fa9598;
}


.react-datepicker__day--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, 
.react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range) {

    background-color: #fa9598;
}

.react-datepicker__month-container {
    width: 100%;
   
}

.guest-picker {
 border-radius: 20px;
 border: none;
 font-family: 'Poppins', sans-serif;
 height: 50px;
 width: auto;
 background-color: #fa9598;
 padding: 5px 10px;
 text-align: center;

@media(max-width: 767px) {
    width: auto;
}
}

.guest-dropdown {
    border: 1px solid #ccc;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 300px;
    position: absolute;
    left: -109px;
    z-index: 9;
    background-color: #fff;
    border-radius: 20px;
    font-weight: 300;

    span {
        font-family: 'Poppins', sans-serif;

    }
}



.guest-dropdown div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px;
  
   

    span {
        letter-spacing: 1px;
    }
}

.guest-selector {
    gap: 12px;

    button {
        border: none;
        border-radius: 20px;
        background-color: rgb(199, 199, 199);

        &:hover {
            background-color: rgb(255, 184, 184);
            border: black 1px solid;
        }
    }
}

.guest-btn {
    border-radius: 20px;
    height: 40px;
   width: 180px;
    color: rgb(0, 0, 0);
    border: 1px solid #ccc;
    padding: 0.5rem 1rem;
}



.reserve-btn {
    border: none;
    height: 80px;
    width: 180px;
   padding: 10px;
    border-radius: 20px;
    background-color: #fa9598;
    color: white;

    &:hover {
        border: #fa9598 2px solid;
        color: white;
        background-color: black;
    }
}