.custom-alert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
  }
  
  .custom-alert-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .custom-alert-content p {
    margin: 0 0 20px 0;
  }
  
  .custom-alert-content button {
    padding: 10px 20px;
    border: none;
    background: $red;
    color: white;
    cursor: pointer;
    border-radius: 5px;
  }
  